stages:
  - build

variables:
  IMAGE_NAME: $CI_REGISTRY_IMAGE/cpp

build:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - |
      docker build \
        --build-arg GIT_COMMIT_SHA=$CI_COMMIT_SHA \
        -t $IMAGE_NAME:$CI_COMMIT_SHORT_SHA \
        -t $IMAGE_NAME:latest \
        .
    - docker push $IMAGE_NAME:$CI_COMMIT_SHORT_SHA
    - docker push $IMAGE_NAME:latest
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
